POSTGRES_USER=fpl
POSTGRES_PASSWORD=change-me
POSTGRES_DB=fpl
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
AIRFLOW_DB_PASSWORD=change-me
AIRFLOW_ADMIN_PASSWORD=change-me
AIRFLOW_JWT_SECRET=change-me
# Linux only: set to the output of `id -u`
# AIRFLOW_UID=1000
